

 <div class="card" style="width: 25rem;" >
        
        <div class="card-body">
        <h5 class="card-title">Objet de type :{{object.ObjectName}}</h5>
        <p class="card-text"><img class="card-img-top" src="https://www.webfx.com/wp-content/uploads/2021/10/generic-image-placeholder.png" alt=""></p>
        </div>
        <ul class="list-group list-group-flush">
        <li class="list-group-item">ID: {{object.ObjectId}}  </li>
        <li class="list-group-item">Camera URL: {{object.CameraUrl}}</li>
        <li class="list-group-item">Timestamp: {{object.timestamp}}</li>
        </ul>
        <div class="card-body">
        <a href="#" class="card-link">Affichez plus de détails</a>
    
        </div>
        </div>