{% extends 'base.html.twig' %}

{% block title %}{% endblock %}

{% block body %}
<div class="container">
<!--
<form>
 


<table>
    <thead>
       
    </thead>
    <tbody>
      <tr>
        <label>Tapez un mot clé :
        <input name="submitted-name" autocomplete="name">
        </label>
        </tr>
        <tr>
            <td>
            <label> Selectionnez une couleur:
              <input type="color" id="favcolor" name="favcolor" value="#ff0000"><br><br>
            </label>
            </td>

        </tr>
       
        <tr>
            <td>
            <label> Selectionnez une date:
            <input type="date" id="start" name="trip-start" value="2018-07-22" min="2018-01-01" max="2018-12-31">
            </label>
            </td>

        </tr>


        <tr><td>
        <label>Confidence > </label>
        <input type="number" min="1" max="100"></td>
        </tr>

        <tr><td>
        
        <button type="button" class="btn btn-primary">Search..</button></td>
        </tr>
    </tbody>
</table>
-->
<h1> TEST SECTION </h1>
<br>
<form>
<td><input class="form-control"  id="nom" name="nom"></td>
<button type="submit" class="btn btn-primary">Search..</button></td>
</form>


<script type='module'>
import { lab } from 'https://cdn.skypack.dev/culori';
	//console.log(rgb('salmon'));
  var code = lab('red');
  console.log(code);

import { GetColorName } from 'hex-color-to-color-name';

var colorName = GetColorName('000000'); 

window.alert(5 + 6);

</script>



<script type="text/javascript">
  document.write(code);

</script>

{% endblock %}