{% extends 'base.html.twig' %}

{% block title %}{% endblock %}

{% block body %}
<div class="container">
<br>


<div class="input-group">

 {{form(form)}}


 <a type="button" class="btn btn-warning"  href="{{path("recherche_advanced")}}"> Advanced search</a>
</div>

<section class="articles">
    
        {% if objects is not null %} 
        <div class="row">
        {% for object in objects %}
        {% if object is not null %} 
        
        {% include 'card.html.twig' %}
        
        {% endif %}
        {% endfor %}
        </div>
        {% endif %}

         {% if objects is not null %} 
        <div class="pagination">
            {{ knp_pagination_render(objects) }}
            <h2>OBJET NON  NULL</h2>

        </div>
        {% endif %}

 </section>

{% endblock %}
